li {
    width: 300px;
    /*border: 1px solid red;*/
}

.name, .quantity, .erase {
    display: inline-block;
}

.name {
    width: 40%;
    text-align: left;
}

.quantity, .price, .erase {
    width: 18%;
    text-align: center;
}