.menuItem {
    min-width: 40% ;
    margin: 5px 10px;
    padding-bottom: 5px;
    border: 1px solid grey;
    border-radius: 6px;
}

p {
    margin: 5px 0;
}

.image {
    width: 40px;
    height: auto;
}